body{
	margin: 150px 0;
}

#wrp{
	width: 310px;
	margin: 0 auto;
	font-size: 14px;
	text-align: center;
}

.result{
	position: relative;
	width: 300px;
	height: 330px;
	border: #000 2px solid;
}

.result img{
	position: absolute;
	bottom: 0;
	margin: 0 auto;
    left: 0;
    right: 0;
}

.sakata{
	-webkit-animation:blink 1s ease-in-out infinite normal;
    -moz-animation:blink 1s ease-in-out infinite normal;
    animation:blink 1s ease-in-out infinite normal;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

#wrp button {
	margin: 10px 0;
	width: 146px;
	font-size: 20px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
    background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
    transition: .4s;
}

#wrp button:hover{
    background-image: -webkit-linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
    background-image: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
}